/*************************************/
/** CUSTOMIZE ADMINTOOLBAR THEMING **/
/***********************************/


/** toolbar icons default state **/
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-escape-admin:before,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-menu:before,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-shortcut:before,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-coffee:before,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-devel:before,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-user:before,
.adminimal-admin-toolbar .toolbar-icon-admin-toolbar-tools-help:before,
.adminimal-admin-toolbar .toolbar-icon-system-admin-content:before,
.adminimal-admin-toolbar .toolbar-icon-system-admin-structure:before,
.adminimal-admin-toolbar .toolbar-icon-system-themes-page:before,
.adminimal-admin-toolbar .toolbar-icon-system-modules-list:before,
.adminimal-admin-toolbar .toolbar-icon-system-admin-config:before,
.adminimal-admin-toolbar .toolbar-icon-entity-user-collection:before,
.adminimal-admin-toolbar .toolbar-icon-system-admin-reports:before,
.adminimal-admin-toolbar .toolbar-icon-help-main:before,
.adminimal-admin-toolbar .toolbar-toggle-orientation [value="vertical"]:before {
}

/** toolbar icons hover and active states **/
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-escape-admin:active:before,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-escape-admin.is-active:before,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-escape-admin:hover:before,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-menu:active:before,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-menu.is-active:before,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-menu:hover:before,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-shortcut:active:before,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-shortcut.is-active:before,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-shortcut:hover:before,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-coffee:active:before,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-coffee.is-active:before,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-coffee:hover:before,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-devel:active:before,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-devel.is-active:before,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-devel:hover:before,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-user:active:before,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-user.is-active:before,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-user:hover:before,
.adminimal-admin-toolbar .toolbar-icon:hover:before,
.adminimal-admin-toolbar .menu-item--expanded.hover-intent .toolbar-icon:before,
.adminimal-admin-toolbar .toolbar-icon.is-active:hover:before {

}

.adminimal-admin-toolbar .toolbar-icon.is-active:before,
.adminimal-admin-toolbar .toolbar-toggle-orientation [value="vertical"]:hover:before {

}

/** toolbar texts default state **/
.adminimal-admin-toolbar .toolbar .toolbar-bar .toolbar-item,
.adminimal-admin-toolbar .toolbar-tray a,
.adminimal-admin-toolbar .toolbar-tray .toolbar-menu a,
.adminimal-admin-toolbar .toolbar-tray .toolbar-menu span {

}

/** toolbar texts hover and active states **/
.adminimal-admin-toolbar .toolbar .toolbar-bar .toolbar-item:hover,
.adminimal-admin-toolbar .toolbar .toolbar-bar .toolbar-item.is-active,
.adminimal-admin-toolbar .toolbar-tray .toolbar-menu a:hover,
.adminimal-admin-toolbar .toolbar-tray .toolbar-menu span:hover,
.adminimal .toolbar .toolbar-tray a.is-active {

}
