
   /******************************/
  /** CUSTOMIZE COFFEE THEMING **/
 /******************************/

#coffee-form-inner {
    background: #d82a29;
    color: #000000;
    padding: 10px 10px 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#coffee-form {
    pointer-events: auto;
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    padding: 10px;
    font: 16px/1.5 sans-serif;
    background: #000000;
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    -moz-transition: opacity 0.35s;
    -ms-transition: opacity 0.35s;
    -o-transition: opacity 0.35s;
    transition: opacity 0.35s;
    border:solid 1px #ffffff;
}