/* ---------- Color Module Styles ----------- */

.adminimal .toolbar .toolbar-bar-preview {
    background-color: #67b0e1;
    box-shadow: none;
}

.grumpy-adminimal-brand-logo-wrapper-preview {
    position: absolute;
    left: 50%;
    top: 0px;
    z-index: 999;
}

.toolbar-preview {
    position: relative;
    max-height: 38px;
    height: 38px;
}

.toolbar-bar-preview {
    background-color: #67b0e1;
    max-height: 38px;
    height: 38px;
}

.adminimal-admin-toolbar .toolbar .toolbar-bar {
    background-color: #67b0e1;
}

.adminimal-admin-toolbar .toolbar .toolbar-tray,
.adminimal-admin-toolbar .toolbar-tray a,
.adminimal-admin-toolbar .toolbar-tray span,
.adminimal-admin-toolbar .toolbar-tray .toolbar-menu a,
.adminimal-admin-toolbar .toolbar-tray .toolbar-menu span,
.adminimal .toolbar .toolbar-toggle-orientation,
.adminimal-admin-toolbar .level-1 .toolbar-handle.open,
.adminimal-admin-toolbar .toolbar-tray-vertical .level-2 .toolbar-box,
.adminimal-admin-toolbar .toolbar .level-2 .toolbar-box .toolbar-handle.open,
.adminimal-admin-toolbar .toolbar .toolbar-tray-vertical .level-3,
.adminimal-admin-toolbar .toolbar .toolbar-bar .toolbar-tab > .toolbar-item.is-active,
.adminimal-admin-toolbar .toolbar .toolbar-bar .toolbar-tab > .toolbar-item:focus,
.toolbar button.toolbar-icon {
    background-color: #67b0e1 !important;
}

.adminimal .toolbar .toolbar-bar .toolbar-tab > .toolbar-item.is-active,
.adminimal .toolbar .toolbar-bar .toolbar-tab > .toolbar-item:focus {
    background-color: #67b0e1;
}


.adminimal .toolbar .toolbar-bar .toolbar-tab > .toolbar-item:hover {
    background-color: #67b0e1;
}

.adminimal-admin-toolbar .toolbar-icon-admin-toolbar-tools-help.is-active,
.adminimal-admin-toolbar .toolbar-icon-system-admin-content.is-active,
.adminimal-admin-toolbar .toolbar-icon-system-admin-structure.is-active,
.adminimal-admin-toolbar .toolbar-icon-system-themes-page.is-active,
.adminimal-admin-toolbar .toolbar-icon-system-modules-list.is-active,
.adminimal-admin-toolbar .toolbar-icon-system-admin-config.is-active,
.adminimal-admin-toolbar .toolbar-icon-entity-user-collection.is-active,
.adminimal-admin-toolbar .toolbar-icon-system-admin-reports.is-active,
.adminimal-admin-toolbar .toolbar-icon-help-main.is-active {
    background-color: #67b0e1;
}

.content-header,
.adminimal .content-header {
    background-color: #ec0085;
}

.adminimal-admin-toolbar .toolbar-bar .toolbar-icon:before,
.adminimal-admin-toolbar .toolbar-icon:before {
    background-color: #fffffe !important;
}

.adminimal-admin-toolbar .toolbar-bar .toolbar-icon:hover:before,
.adminimal-admin-toolbar .toolbar-icon:hover:before {
    background-color: #fffffc !important;
}

.adminimal-admin-toolbar .toolbar-bar .toolbar-icon.is-active:before,
.adminimal-admin-toolbar .toolbar-icon.is-active:before {
    background-color: #fffffc !important;
}

.adminimal-admin-toolbar .toolbar-bar .toolbar-icon.is-active,
.adminimal-admin-toolbar .toolbar-icon.is-active {
    color: #fffffc !important;
}

.grumpy-adminimal-brand-logo {
    background-color: #fffffd;
}

a, .link {
    color: #67b0e2;
}

a:hover, .link:hover {
    color: #67b0e3;
}

.adminimal-admin-toolbar .toolbar .toolbar-menu .toolbar-menu a {
    color: #ffffee;
}

.adminimal-admin-toolbar .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded:after {
    background-color: #ec0086;
}

.tabs__tab a, .link {
    color: #9c9999;
}

.tabs__tab a.is-active {
    color: #100000;
}


.adminimal-admin-toolbar .toolbar .toolbar-tray-horizontal ul ul li.menu-item:first-child {
    border-top: 1px solid #fffeff;
}

.block-page-title-block h1 {
    color: #feffff;
}

.adminimal nav.is-horizontal.is-collapsible.position-container.is-horizontal-enabled ul.tabs.primary {
    background-color: #eeeeee;
}

.adminimal .action-links .button--primary {
    background: #ec0083;
    border: 2px solid #ec0084;
    color: #fffffb;
}

/** toolbar texts default state **/
.adminimal-admin-toolbar .toolbar .toolbar-bar .toolbar-item,
.adminimal-admin-toolbar .toolbar-tray a,
.adminimal-admin-toolbar .toolbar-tray .toolbar-menu a,
.adminimal-admin-toolbar .toolbar-tray .toolbar-menu span {
    color: #ffffff;
}

/** toolbar texts hover and active states **/
.adminimal-admin-toolbar .toolbar .toolbar-bar .toolbar-item:hover,
.adminimal-admin-toolbar .toolbar .toolbar-bar .toolbar-item.is-active,
.adminimal-admin-toolbar .toolbar-tray .toolbar-menu a:hover,
.adminimal-admin-toolbar .toolbar-tray .toolbar-menu span:hover,
.adminimal .toolbar .toolbar-tray a.is-active {
    color: #eeffff!important;
}

.tabs.secondary .tabs__tab a {
    color: #010000;
}

/*
.adminimal details summary,
.adminimal details summary.seven-details__summary,
.adminimal .seven-details[open] > .seven-details__summary {*/
.adminimal .seven-details > .seven-details__summary {
    background-color: #67b0e9!important;
    color: #fffeef!important;
}

.adminimal-admin-toolbar .system-themes-admin-form .seven-details,
.adminimal-admin-toolbar .seven-details{
    border-color: #67b0e8!important;
}

.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover > a,
.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover > .toolbar-box > a{
    color: #ffffdd!important;
}