/***************************/
/** WAX ADMINIMAL THEMING **/
/***************************/

#toolbar-administration{
  border-bottom: solid 1px white;
}

#toolbar-administration #toolbar-bar .toolbar-lining{
  border-top: solid 1px #8f7247;
}


.grumpy-adminimal-brand-logo {
    -webkit-mask-image: url(../images/client-logo.svg);
    mask-image: url(../images/client-logo.svg);
    width: 400px;
    height: 30px;
    margin-top: 4px;
}

.adminimal .content-header {
    background-color: #000000;
    padding: 1rem 0 0;
    border-top: solid 1px transparent;
}

/*
.adminimal .toolbar .toolbar-bar {
    background-color: #000001;
    box-shadow: none;
}

.adminimal .toolbar .toolbar-menu {
    background: #000000;
}

.adminimal .toolbar .toolbar-tray {
    background-color: #000000;
    box-shadow: -2px 2px 12px rgba(0, 0, 0, 0.85);
    background-color: #000002;
}
*/
.adminimal .toolbar .toolbar-tray-horizontal {
    border-bottom: 1px solid #ffffff;
    box-shadow: none;
}

.adminimal .toolbar .toolbar-toggle-orientation {
    background-color: #000000;
}

/** BUTTONS **/
/** TODO :: move definition to color.css to change dynamically from the admin control panel **/
.adminimal .action-links .button--primary {
    background: #fff;
    border: 2px solid #000000;
    border-radius: 999px;
    color: #5f5f5f;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 0.4rem 1.33rem;
}

.adminimal .action-links .button--primary:hover, .adminimal .action-links .button--primary:focus {
    background-color: #5f5f5f;
    background-image: none;
    box-shadow: none;
    color: #fff;
}

.adminimal .button--danger {
    background-color: #000000;
    border-color: #000000;
    border: solid 1px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 21px;
    padding-right: 21px;
}

.adminimal .button--danger:hover,
.adminimal .button--danger:focus {
    background-color: #FFFFFF;
    border-color: #000000;
    border: solid 1px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 21px;
    padding-right: 21px;
    text-decoration: none;
}

.adminimal .button {
    background-color: #000000;
    border-color: #000000;
    background-image: none;
    border-radius: 20em;
    text-shadow: none;
    transition: all, 0.2s;
    color: #FFFFFF;
}

.adminimal .button:hover,
.adminimal .button:focus {
    background-color: #ffffff;
    border-color: #000000;
    background-image: none;
    border-radius: 20em;
    text-shadow: none;
    transition: all, 0.2s;
    color: #000000;
}

.adminimal .button--primary {
    background: #000000;
    border-color: #000000;
    color: #ffffff;
}

.adminimal .button--primary:hover,
.adminimal .button--primary:focus {
    background: #ffffff;
    border-color: #000000;
    color: #000000;
    border-radius: 999px;
}


/** TOOLBAR **/

.adminimal-admin-toolbar .toolbar-tray .toolbar-menu li {
    background: #000000;
}

.adminimal .toolbar .toolbar-bar .toolbar-tab > .toolbar-item.is-active, .adminimal .toolbar .toolbar-bar .toolbar-tab > .toolbar-item:focus {
    background-color: #000000;
}

.grumpy-adminimal-brand-logo-wrapper {
    position: fixed;
    left: 50%;
    top: 0px;
    z-index: 999
}

.grumpy-adminimal-brand-logo {
    position: relative;
    left: -50%;
}

.grumpy-adminimal-brand-logo img {
    height: 38px;
    max-height: 40px;
    max-width: 150px;
}


/** FORM ELEMENTS **/
/*
.adminimal-admin-toolbar .seven-details__summary {
    color: #000000 !important;
}
*/

.adminimal-admin-toolbar .system-themes-admin-form .seven-details,
.adminimal-admin-toolbar .seven-details {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid #000000;
    border-radius: 3px;
}

.adminimal-admin-toolbar .system-themes-admin-form .seven-details,
.adminimal-admin-toolbar .form-wrapper,
.adminimal-admin-toolbar .seven-details {
    background-color: #ffffff !important;
}

/*
.adminimal-admin-toolbar .seven-details__summary {
    background-color: #000000 !important;
    color: #ffffff !important;
}
*/

/*
input[type=checkbox]:checked,
input[type=checkbox]:disabled:checked,
input[type=checkbox].error:checked,
input[type=checkbox].error:focus:checked,
input[type=radio]:checked, input[type=radio]:disabled:checked,
input[type=radio].error:checked, input[type=radio].error:focus:checked {
    background: #000000;
    box-shadow: inset 0 0 0 3px #fff;
}
*/

.adminimal-admin-toolbar .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded:hover:after{
    content: '';
}

.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover > a,
.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover > .toolbar-box > a{
    color: transparent;
}
