.system-modules tr.even,
.system-modules tr.odd,
.locale-translation-status-form tr.even,
.locale-translation-status-form tr.odd {
    background: #ffffff;
    border: 0;
    border-bottom: 1px solid #28afe3;
}