/* REPORTS ADMIN PAGE */
.system-status-counter {
    background-color: #ededed;
}

.system-status-report-counters__item {
    padding: 0;
    background-color: transparent;
}

.system-status-counter__status-icon {
    border: unset;
    background-color: transparent;
    box-shadow: unset;
}

.system-status-general-info__header {
    background-color: #67b0e9;
    color: #ffffff;
}

.system-status-general-info {
    border: 1px solid #67b0e9!important;
}

.system-status-general-info__items {
    align-items: flex-start;
    justify-self: center;
    justify-content: space-around;
    justify-items: center;
}

.system-status-general-info__run-cron {
    left: 0;
    position: relative;
}

.system-status-general-info__item {
    border: none !important;
    flex: 0 !important;
    width: 33% !important;
    flex-basis: 33% !important;
    background-color: transparent !important;
}

.system-status-general-info__item-icon:before {
    background-color: #67b0e9;
    background-image: none !important;
    width: 66px !important;
    height: 47px !important;
    background-position: center;
    background-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.system-status-general-info__item-title {
    border-bottom: 1px solid #67b0e9;
}

.system-status-general-info__item-details {
    box-sizing: border-box;
    display: inline-block;
    width: calc(100% - 70px);
    padding-left: 30px;
    position: relative;
    color: #ec0084;
}

.system-status-general-info__item-icon--clock:before {
    mask-image: url(../images/icons/clock.svg);
    -webkit-mask-image: url(../images/icons/clock.svg);
}

.system-status-general-info__item-icon--d8:before {
    mask-image: url(../images/icons/d8-logo.svg);
    -webkit-mask-image: url(../images/icons/d8-logo.svg);
}

.system-status-general-info__item-icon--server:before {
    mask-image: url(../images/icons/server.svg);
    -webkit-mask-image: url(../images/icons/server.svg);
}

.system-status-general-info__item-icon--php:before {
    mask-image: url(../images/icons/php-logo.svg);
    -webkit-mask-image: url(../images/icons/php-logo.svg);
}

.system-status-general-info__item-icon--database:before {
    mask-image: url(../images/icons/database.svg);
    -webkit-mask-image: url(../images/icons/database.svg);
}

ul.tips, div.description, .form-item .description {
    color: #67b0e1;
}

.system-status-report h3 {
    text-transform: uppercase;
    background-color: #67b0e9;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.system-status-report .summary {
    text-transform: capitalize !important;
}

.system-status-report__requirements-group {
    padding-top: 0px;
    margin-top: 20px;
    border: solid 1px #67b0e9;
}

.system-status-report__entry:last-of-type {
    border-bottom: 0px solid #67b0e9;
}

.adminimal .system-status-counter--error {
    background-color: #fbe5e0;
    border: solid 1px #e32700;
}

.adminimal .system-status-report__requirements-group-error {
    border: solid 1px #e32700;
    background-color: #fbe5e0 !important;
}

.system-status-report__requirements-group-error h3 {
    background-color: #e32700;
}

.color-error {
    color: #e32700;
    background-color: #fbe5e0!important;
}

.adminimal .system-status-counter--warning {
    border: solid 1px #cd962a;
    background-color: #fffedf;
}

.adminimal .color-warning {
    background-color: #fffedf !important;
}

.adminimal .system-status-counter--warning .system-status-counter__title-count,
.adminimal .color-warning,
.adminimal .color-warning .description {
    color: #cd962a !important;
}

.adminimal .system-status-report__requirements-group-warning h3,
.adminimal .system-status-report__requirements-group-checked h3 {
    color: #ffffff !important;
}

.adminimal .system-status-report__requirements-group-warning h3 {
    background-color: #cd962a;
}

.adminimal .system-status-report__entry--warning {
    background-color: #fffedf;
}

.adminimal .system-status-report__requirements-group-checked h3 {
    background-color: #89b05c;
}

.adminimal .system-status-report__entry--checked {
    background-color: #e8fbd4;
}

.adminimal .system-status-report .system-status-report__requirements-group-warning {
    border: solid 1px #cd962a !important;
}

.adminimal .system-status-report .system-status-report__requirements-group-checked {
    border: solid 1px #89b05c !important;
}

.adminimal .system-status-counter--checked {
    border: solid 1px #89b05c;
    background-color: #e8fbd4;
}

.adminimal .system-status-counter--checked .system-status-counter__title-count,
.adminimal .color-checked,
.adminimal .color-checked .description {
    color: #89b05c;
}

.adminimal .system-status-counter--warning .system-status-counter__title-count,
.adminimal .color-warning,
.adminimal .color-warning .description {
    color: #cd962a !important;
}


.system-status-report__status-icon--warning .details-title:before,
.details .system-status-report__status-icon--warning:before {
    -webkit-mask-image: url(../images/icons/warning.svg);
    mask-image: url(../images/icons/warning.svg);
    background-image: none;
    background-color: #cd962a;
}

.system-status-report__entry--checked summary.system-status-report__status-title:before {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    height: 16px;
    width: 16px;
    position: absolute;
    left: 10px;
    top: 1em;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    -webkit-mask-image: url(../images/icons/check.svg);
    mask-image: url(../images/icons/check.svg);
    background-image: none;
    background-color: #89b05c;
}
