/** icons reset **/
.grumpy-adminimal-brand-logo,
.adminimal-admin-toolbar .toolbar-bar .toolbar-icon:before {
    background-image: none !important;
    background-color: transparent;
    filter:none!important;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}

.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-escape-admin:before {
    -webkit-mask-image: url(../images/icons/chevron-disc-left.svg);
    mask-image: url(../images/icons/chevron-disc-left.svg);
}

.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-menu:before {
    -webkit-mask-image: url(../images/icons/hamburger.svg);
    mask-image: url(../images/icons/hamburger.svg);
}

.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-shortcut:before {
    -webkit-mask-image: url(../images/icons/star.svg);
    mask-image: url(../images/icons/star.svg);
}

.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-coffee:before {
    -webkit-mask-image: url(../images/icons/coffee.svg);
    mask-image: url(../images/icons/coffee.svg);
}

.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-devel:before {
    -webkit-mask-image: url(../images/icons/cog.svg);
    mask-image: url(../images/icons/cog.svg);
}

.adminimal-admin-toolbar .toolbar-bar .toolbar-icon-user:before {
    -webkit-mask-image: url(../images/icons/person.svg);
    mask-image: url(../images/icons/person.svg);
}

.adminimal-admin-toolbar .toolbar-icon-admin-toolbar-tools-help:before {
    -webkit-mask-image: url(../images/icons/drupal-8.svg);
    mask-image: url(../images/icons/drupal-8.svg);
}

.adminimal-admin-toolbar .toolbar-icon-system-admin-content:before {
    -webkit-mask-image: url(../images/icons/file.svg);
    mask-image: url(../images/icons/file.svg);
}

.adminimal-admin-toolbar .toolbar-icon-system-admin-structure:before {
    -webkit-mask-image: url(../images/icons/orgchart.svg);
    mask-image: url(../images/icons/orgchart.svg);
}

.adminimal-admin-toolbar .toolbar-icon-system-themes-page:before {
    -webkit-mask-image: url(../images/icons/paintbrush.svg);
    mask-image: url(../images/icons/paintbrush.svg);
}

.adminimal-admin-toolbar .toolbar-icon-system-modules-list:before {
    -webkit-mask-image: url(../images/icons/puzzlepiece.svg);
    mask-image: url(../images/icons/puzzlepiece.svg);
}

.adminimal-admin-toolbar .toolbar-icon-system-admin-config:before {
    -webkit-mask-image: url(../images/icons/wrench.svg);
    mask-image: url(../images/icons/wrench.svg);
}

#admin-toolbar-search-tab .toolbar-item:before{
    -webkit-mask-image: url(../images/icons/loupe.svg);
    mask-image: url(../images/icons/loupe.svg);
}

.adminimal-admin-toolbar .toolbar-icon-entity-user-collection:before {
    -webkit-mask-image: url(../images/icons/people.svg);
    mask-image: url(../images/icons/people.svg);
}

.adminimal-admin-toolbar .toolbar-icon-system-admin-reports:before {
    -webkit-mask-image: url(../images/icons/barchart.svg);
    mask-image: url(../images/icons/barchart.svg);
}

.adminimal-admin-toolbar .toolbar-icon-help-main:before {
    -webkit-mask-image: url(../images/icons/questionmark-disc.svg);
    mask-image: url(../images/icons/questionmark-disc.svg);
}

.adminimal-admin-toolbar .toolbar-icon-edit:before {
    -webkit-mask-image: url(../images/icons/pencil.svg);
    mask-image: url(../images/icons/pencil.svg);
}

.adminimal-admin-toolbar .toolbar-toggle-orientation [value="vertical"]:before {
    -webkit-mask-image: url(../images/icons/push-left.svg);
    mask-image: url(../images/icons/push-left.svg);
}

.adminimal-admin-toolbar .toolbar-icon-moderation-sidebar:before {
    -webkit-mask-image: url(../images/icons/icon.svg);
    mask-image: url(../images/icons/icon.svg);
}

.system-status-general-info__item-icon--clock:before {
    mask-image: url(../images/icons/clock.svg);
    -webkit-mask-image: url(../images/icons/clock.svg);
}

.adminimal-admin-toolbar .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded:after{
    -webkit-mask-image: url(../images/icons/chevron-right.svg);
    mask-image: url(../images/icons/chevron-right.svg);
    content: '';
    background-color: transparent;
    background-image: none !important;
    filter: none!important;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    width: 15px;
    height: 15px;
}

.adminimal-admin-toolbar .toolbar-icon.toolbar-icon-tmgmt-admin-tmgmt:before,
.adminimal-admin-toolbar .toolbar-icon.toolbar-icon-tmgmt-admin-tmgmt:hover:before{
    mask-image: url(../images/icons/earth.svg);
    -webkit-mask-image: url(../images/icons/earth.svg);
}

.adminimal-admin-toolbar .toolbar-bar .acquia-active-subscription:before,
.adminimal-admin-toolbar .toolbar-bar .acquia-active-subscription:hover:before {
    mask-image: url(../images/icons/check.svg);
    -webkit-mask-image: url(../images/icons/check.svg);
}