<div class="adminimal adminimal-admin-toolbar color-preview">

    <div id="toolbar-administration-preview" role="group" aria-label="Site administration toolbar"
         class="toolbar-preview">
        <nav id="toolbar-bar-preview" role="navigation" class="toolbar-bar toolbar-bar-preview clearfix"
             data-offset-top=""></nav>
    </div>

    <div class="grumpy-adminimal-brand-logo-wrapper-preview">
        <div class="grumpy-adminimal-brand-logo">
        </div>
    </div>

    <a href="/admin/structure" class="toolbar-icon toolbar-icon-system-admin-structure" data-drupal-link-system-path="admin/structure">Structure</a>

    <header class="content-header clearfix">
        <div class="layout-container">
            <div class="region region-header">
                <div id="block-grumpy-adminimal-page-title" class="block block-core block-page-title-block">
                    <h1 class="js-quickedit-page-title page-title">Page title</h1>
                </div>
            </div>
        </div>
    </header>

    <details data-drupal-selector="edit-logo" id="edit-logo" class="js-form-wrapper form-wrapper seven-details" open="">
        <summary role="button" aria-controls="edit-logo" aria-expanded="true" aria-pressed="true"
                 class="seven-details__summary">
            Details summary
        </summary>
        <div class="seven-details__wrapper details-wrapper">

            <div class="form-item js-form-type-checkbox form-type-checkbox">
                <span class="preview-checkbox-checked"></span>
                <span class="preview-label">Checkbox checked label preview</span>
            </div>
            <div class="form-item js-form-type-checkbox form-type-checkbox">
                <span class="preview-checkbox-unchecked"></span>
                <span class="preview-label">Checkbox unchecked label preview</span>
            </div>

            <div class="form-item js-form-type-checkbox form-type-checkbox">
                    <span class="button button--primary preview-button--primary js-form-submit form-submit">
                    Primary button
                    </span>
            </div>
        </div>
    </details>
</div>
